@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ddd;
  --dark: #000;
  --light: #fff;
}

* {
  background: var(--background);
  color: var(--dark);
}

body {
  font-family: "Roboto", sans-serif;
}
